/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
src/main/java/com/dz/kfb/Application.java
src/main/java/com/dz/kfb/module/demo/*
src/main/java/com/dz/kfb/module/test/*
src/main/resources/*

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/